[project]
	description = A simple AOP implementation for node
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Philip Ford (pford68)
[access "refs/for/refs/*"]
	read = group user/Philip Ford (pford68)
	push = group user/Philip Ford (pford68)
	label-Code-Review = -2..+2 group user/Philip Ford (pford68)
	label-Verified = -1..+1 group user/Philip Ford (pford68)
	rebase = group user/Philip Ford (pford68)
	removeReviewer = group user/Philip Ford (pford68)
	submit = group user/Philip Ford (pford68)
[access "refs/heads/*"]
	read = group user/Philip Ford (pford68)
	create = group user/Philip Ford (pford68)
	push = +force group user/Philip Ford (pford68)
	pushMerge = group user/Philip Ford (pford68)
[access "refs/tags/*"]
	push = +force group user/Philip Ford (pford68)
	pushTag = group user/Philip Ford (pford68)
	pushSignedTag = group user/Philip Ford (pford68)
